.courses {
	& .about {
		border-top: 1px solid rgba($gray-500, 0.2);
		&-wrapper {
			padding-top: 70px;
		}
	}
	& .about-micro {
		top: 40px;
	}
}

@media screen and (max-width: 991px) {
	.courses {
		& .about {
			&-micro {
				display: none;
			}
			&-wrapper {
				padding-top: 30px;
			}
			&-top {
				grid-gap: 0;
			}
		}
	}
}
