.footer {
	border-top: 1px solid rgba($gray-500, 0.2);
	&-wrapper {
		padding: 78px 0;
	}
	&-top {
		@include flex(row, flex-start, space-between);
		margin-bottom: 22px;
	}
	&-nav {
		gap: 40px;
		& .link {
			color: $black-100;
			font-weight: 600;
			letter-spacing: 0.05em;
			&:hover {
				color: $red-100;
			}
		}
	}
	&-middle {
		display: grid;
		grid-template-columns: 8.3fr 3.7fr;
		margin-bottom: 24px;
		&__btn {
			@include flex(row, flex-start, flex-end);
		}
		& .btn-secondary {
			@include font(1.4rem, 1);
			letter-spacing: 0.05em;
			font-weight: 600;
			color: $black-100;
			padding: 20px 56px;
			&:hover {
				color: $white;
			}
		}
	}
	&-mobile {
		display: none;
	}
	&-contacts {
		@include flex(column, flex-end);
		& br {
			display: none;
		}
		&__tel {
			@include font(2.2rem, calc(24 / 22));
			margin-bottom: 16px;
			display: inline-block;
			color: $black-100;
			font-weight: 600;
			&:hover {
				opacity: 0.8;
			}
		}
		& p {
			@include font(1.6rem, calc(24 / 16));
			color: $black-100;
		}
		&__mail {
			@include font(1.6rem, calc(24 / 16));
			color: $red-100;
			&:hover {
				opacity: 0.8;
			}
		}
	}
	&-bottom {
		display: grid;
		grid-template-columns: 4fr 4.3fr 3.7fr;
		&__info {
			@include font(1.4rem, calc(22 / 14));
		}
		&__social {
			@include flex(row, flex-start, flex-end);
			gap: 12px;
		}
		&__dev {
			@include flex(row, flex-end, flex-end);
			& p {
				@include font(1.4rem, calc(22 / 14));
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.footer {
		& .logo {
			display: none;
		}
		&-wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 40px 4px;
			padding: 50px 0;
		}
		&-middle {
			@include flex(column, flex-end, space-between);
			order: -1;
			margin: 0;
			&__btn {
				display: none;
			}
			& .footer-bottom__social {
				display: flex;
			}
		}
		&-top {
			display: block;
			margin: 0;
		}
		&-nav {
			@include flex(column, flex-end);
			gap: 22px;
		}
		&-mobile {
			display: block;
			padding-top: 10px;
			text-align: center;
			grid-column: span 2;
			& .btn-secondary {
				width: 360px;
				text-align: center;
				max-width: 100%;
			}
		}
		&-bottom {
			@include flex(column, center);
			grid-column: span 2;
			&__social {
				display: none;
			}
			& p {
				text-align: center;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.footer {
		&-contacts {
			&__tel {
				margin-bottom: 30px;
				@include font(1.8rem, calc(22 / 18));
			}
			& br {
				display: inline;
			}
			& p,
			& a:last-child {
				text-align: right;
				@include font(1.4rem, calc(22 / 14));
			}
		}
		&-nav {
			& .link {
				@include font(1.4rem, calc(15 / 14));
				letter-spacing: 0.05em;
			}
		}
		&-bottom {
			& p {
				@include font(1.2rem, calc(18 / 12));
			}
		}
	}
}
