.header {
	width: 100%;
	z-index: 10;
	margin-bottom: 46px;
	&-transparent {
		margin-bottom: 0;
		position: absolute;
		left: 0;
		top: 0;
		& .header-social-link {
			color: $white;
		}
		& .btn-secondary {
			color: $white;
		}
		& .header-nav__link {
			color: $white;
		}
	}
	&-wrapper {
		padding-top: 30px;
		gap: 2rem;
	}
	&-top {
		gap: 38px;
		margin-bottom: 28px;
	}
	&-nav {
		gap: 46px;
		&__link {
			position: relative;
			display: inline-block;
			color: $black-100;
			font-weight: 600;
			&.active {
				color: $red-400;
				&::before {
					position: absolute;
					content: '';
					top: calc(100% + 2px);
					left: 0;
					width: 100%;
					height: 1px;
					background: $red-400;
				}
			}
		}
	}
	&-social-link {
		@include font(1.7rem, calc(15 / 17));
		font-weight: 600;
		letter-spacing: 0.1em;
		color: $black-100;
		position: relative;
		padding-left: 40px;
		text-decoration: none;
		&:hover {
			opacity: 0.8;
		}
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 30px;
			height: 30px;
			background: icon('whatsapp.svg') no-repeat 50% / cover;
		}
	}
	&-burger {
		&__wrapper {
			display: none;
		}
	}
}

@media screen and (max-width: 1280px) {
	.header {
		&-nav {
			gap: 30px;
		}
	}
}

@media screen and (max-width: 991px) {
	.header {
		margin-bottom: 18px;
		&-desktop {
			display: none;
		}
		&-wrapper {
			padding-top: 18 px;
		}
		&-burger {
			width: 30px;
			height: 30px;
			position: relative;
			& span {
				width: 100%;
				height: 1.5px;
				background: $black-100;
				border-radius: 3px;
				position: absolute;
				top: 50%;
				left: 0;
				&:first-child {
					transform: translateY(calc(-50% - 4.5px));
				}
				&:last-child {
					transform: translateY(calc(-50% + 4.5px));
				}
			}
			&__wrapper {
				display: block;
			}
		}
		& .logo {
			max-width: 150px;
		}
		&-transparent {
			& .header-burger span {
				background: $white;
			}
		}
	}
}
