.about {
	margin-bottom: 110px;
	&-wrapper {
		padding-top: 85px;
	}
	&-micro {
		left: 0;
		top: 50px;
		transform: translateX(-50%);
	}
	&-top {
		gap: 60px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 32px;
	}
	&-title {
		& .title {
			max-width: 390px;
			margin-bottom: 16px;
		}
	}
	&-text {
		& p {
			@include font(1.6rem, calc(24 / 16));
			font-weight: 400;
		}
	}
	&-advantages {
		&__img {
			flex-shrink: 0;
		}
	}
	&-lessons {
		margin-bottom: 90px;
		&-swiper {
			padding-bottom: 20px;
			& .swiper-pagination {
				bottom: 0;
				&-bullet {
					background: #a7a7a7;
					&-active {
						background: $red-200;
					}
				}
			}
		}
		&-full {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 60px 24px;
		}
		&-text {
			padding: 4px 0;
			grid-column: span 3;
			margin: 0 auto;
			& .title {
				text-align: center;
				max-width: 420px;
				letter-spacing: 0;
				& span {
					color: $red-100;
				}
			}
		}
	}
	&-main {
		display: grid;
		grid-template-columns: 4.5fr 6.8fr;
		grid-gap: 70px;
		align-items: center;
		margin-bottom: 80px;
		&__content {
			& .title {
				color: $red-200;
				margin-bottom: 40px;
			}
		}
		&__text {
			margin-bottom: 40px;
			& p {
				@include font(2.2rem, calc(30 / 22));
				font-weight: 400;
			}
		}
		&__video {
			&-wrapper {
				& .link-arrow {
					display: none;
				}
			}
		}
	}
	&-recommendations {
		&__star {
			top: -50px;
			left: 0;
			transform: translateX(-50%);
		}
		& .title {
			max-width: 320px;
			position: relative;
			margin-bottom: 30px;
		}
		& .swiper-navigation {
			position: absolute;
			top: 50%;
			width: 48px;
			height: 48px;
			background: $red-200;
			border-radius: 50%;
			display: grid;
			place-items: center;
			z-index: 2;
			&:hover {
				opacity: 0.8;
			}
			&-prev {
				transform: translateY(-50%) translateX(-50%);
				left: 0;
			}
			&-next {
				transform: translateY(-50%) translateX(50%);
				right: 0;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.about {
		margin-bottom: 60px;
		&-lessons {
			margin-bottom: 45px;
			&-full {
				@include flex(row);
				flex-wrap: wrap;
				gap: 30px;
				& .activity-block {
					max-width: calc(50% - 15px);
				}
			}
		}
		&-wrapper {
			padding-top: 42px;
		}
		&-micro {
			display: none;
		}
		&-top {
			grid-template-columns: 100%;
			grid-gap: 16px;
			margin-bottom: 36px;
		}
		&-title {
			margin-bottom: 0;
		}
		&-text {
			& p {
				@include font(1.4rem, calc(20 / 14));
			}
		}
		&-lessons {
			margin-left: calc((100vw - 100%) / -2);
			margin-right: calc((100vw - 100%) / -2);
			&-swiper {
				padding: 0 15px;
				padding-left: calc((100vw - 720px) / 2);
				& .swiper-slide {
					width: auto;
				}
				& .swiper-pagination {
					display: none;
				}
			}
		}
		&-main {
			grid-template-columns: 100%;
			grid-gap: 26px;
			margin-bottom: 42px;
			&__content {
				& .title {
					margin-bottom: 16px;
					max-width: 310px;
				}
				& .link-arrow {
					display: none;
				}
			}
			&__text {
				margin-bottom: 0;
				& p {
					@include font(1.4rem, clac(20/14));
				}
			}
			&__video {
				&-wrapper {
					& .link-arrow {
						display: inline-block;
						margin-top: 20px;
					}
				}
			}
		}
		&-recommendations {
			&__star {
				display: none;
			}
			&-wrapper {
				margin-right: calc((100vw - 100%) / -2);
				margin-left: calc((100vw - 100%) / -2);
			}
			& .title {
				margin-bottom: 16px;
				max-width: 225px;
			}
			& .swiper-navigation {
				display: none;
			}
			&-swiper {
				padding: 0 15px;
				padding-left: calc((100vw - 720px) / 2);
				& .swiper-slide {
					width: auto;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.about {
		&-lessons {
			&-text {
				padding-top: 24px;
			}
			&-full {
				& .activity-block {
					max-width: 100%;
					width: 100%;
				}
			}
			&-swiper {
				padding-left: calc((100vw - 528px) / 2);
			}
		}
		&-recommendations {
			&-swiper {
				padding-left: calc((100vw - 528px) / 2);
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.about {
		&-recommendations,
		&-lessons {
			&-swiper {
				padding: 0 15px;
			}
		}
	}
}
