.btn {
	&-primary {
		text-align: center;
		display: inline-block;
		text-decoration: none;
		@include font(1.8rem, 1);
		letter-spacing: 0.05em;
		font-weight: 600;
		padding: 1.383em 2.333em;
		border-radius: 32px;
		color: $white;
		background: $red-200;
		&:hover {
			opacity: 0.8;
		}
	}
	&-secondary {
		text-align: center;
		text-decoration: none;
		display: inline-block;
		@include font(1.4rem, 1);
		letter-spacing: 0.05em;
		font-weight: 600;
		padding: 1.143em 2em;
		border: 2px solid $red-200;
		border-radius: 32px;
		color: $black-100;
		background: transparent;
		&:hover {
			background: $red-200;
			color: $white;
		}
	}
}

@media screen and (max-width: 991px) {
	.btn {
		&-primary {
			@include font(1.5rem, 1);
			padding: 1.466667em 2em;
		}
	}
}
