.contact {
	background: image('contact-bg.png') no-repeat 50% / cover;
	&-wrapper {
		padding: 96px 0;
	}
	&-title {
		margin-bottom: 38px;
		max-width: 490px;
		@include font(4rem, calc(44 / 40));
	}
	&-subtitle {
		margin-bottom: 100px;
		max-width: 510px;
		& p {
			@include font(2.2rem, calc(32 / 22));
			letter-spacing: 0.03em;
		}
	}
	&-form {
		&__wrapper {
			gap: 32px 45px;
			display: grid;
			@include flex(row, flex-end, flex-start, wrap);
			max-width: 760px;
			margin-bottom: 28px;
		}
		&__agreement {
			& p {
				color: $gray-300;
				@include font(1.4rem, calc(18 / 14));
			}
			& a {
				color: $gray-300;
				@include font(1.4rem, calc(18 / 14));
				text-decoration: underline;
				&:hover {
					opacity: 0.8;
				}
			}
		}
		& input {
			min-width: 210px;
		}
		& .btn-primary {
			padding: 1.222em 2.2666em;
		}
	}
}

@media screen and (max-width: 991px) {
	.contact {
		background: $light-100;
		&-wrapper {
			padding: 60px 0;
		}
		&-title {
			max-width: 275px;
			@include font(2.2rem, calc(28 / 22));
			margin-bottom: 16px;
		}
		&-subtitle {
			max-width: 505px;
			margin-bottom: 45px;
			& p {
				@include font(1.6rem, calc(22 / 16));
			}
		}
		&-form {
			& .btn-primary {
				padding: 1.4em 2em;
			}
			&__wrapper {
				margin: 0;
				max-width: none;
				grid-gap: 38px 28px;
				& input {
					min-width: auto;
					max-width: calc(50% - 14px);
					flex-grow: 1;
				}
			}
			&__agreement {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.contact {
		&-form {
			& .btn-primary {
				order: 1;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.contact {
		&-form {
			&__wrapper {
				& .btn-primary {
					width: 100%;
				}
			}
		}
	}
}
