.courses-form {
	background: $light-100;
	&__wrapper {
		padding: 96px 0;
		@include flex(column, center);
	}
	& .title {
		margin-bottom: 24px;
		text-align: center;
		max-width: 390px;
	}
	&__subtitle {
		max-width: 530px;
		margin-bottom: 70px;
		text-align: center;
		& p {
			@include font(1.8rem, calc(27 / 18));
		}
	}
	&__form {
		max-width: 1090px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 60px 50px;
	}
	&__terms {
		grid-column: 2 / 3;
		@include flex(column, center);
		& .btn-primary {
			width: 100%;
			padding: 1.2777em 2.33em;
			margin-bottom: 32px;
		}
		& p {
			text-align: center;
			@include font(1.2rem, calc(16 / 12));
			color: $gray-600;
		}
		& a {
			color: $gray-600;
			text-decoration: underline;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.courses-form {
		&__wrapper {
			padding: 60px 0;
		}
		&__form {
			grid-template-columns: 1fr 1fr;
			grid-gap: 50px 40px;
			& .input_long {
				grid-column: span 2;
			}
		}
		&__terms {
			grid-column: span 2;
			& .btn-primary {
				padding-top: 1.4446em;
				padding-bottom: 1.4446em;
				margin-bottom: 24px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.courses-form {
		& .title {
			margin-bottom: 16px;
			max-width: 310px;
		}
		&__subtitle {
			margin-bottom: 36px;
			max-width: 300px;
			& p {
				@include font(1.4rem, calc(20 / 14));
			}
		}
		&__form {
			grid-template-columns: 100%;
			& .input_long {
				grid-column: span 1;
			}
		}
		&__terms {
			grid-column: span 1;
		}
	}
}
