.hero {
	position: relative;
	background: $gray-100;
	&-content {
		position: relative;
		z-index: 1;
	}
	&-wrapper {
		padding-top: 242px;
		padding-bottom: 130px;
	}
	&-swiper {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		&::after {
			z-index: 1;
			position: absolute;
			content: '';
			width: 100%;
			height: 40%;
			left: 0;
			bottom: 0;
			opacity: 0.5;
			background: linear-gradient(to top, $black, rgba($black, 0));
			pointer-events: none;
		}
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		& .swiper-pagination {
			z-index: 3;
			position: absolute;
			bottom: 36px;
		}
	}
	&-title {
		margin-bottom: 24px;
		max-width: 492px;
		color: $white;
	}
	&-subtitle {
		margin-bottom: 50px;
		max-width: 465px;
		& p {
			color: $white;
			@include font(1.8rem, calc(30 / 18));
			letter-spacing: 0.05em;
		}
	}
}

@media screen and (max-width: 991px) {
	.hero {
		&-wrapper {
			padding-top: 360px;
			padding-bottom: 48px;
		}
		&-title {
			max-width: 300px;
			margin-bottom: 16px;
		}
		&-subtitle {
			max-width: 290px;
			margin-bottom: 44px;
			& p {
				@include font(1.6rem, calc(22 / 16));
				letter-spacing: 0.05em;
			}
		}
		&-swiper {
			& .swiper-pagination {
				bottom: 18px;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.hero {
		&-btn {
			& .btn-primary {
				width: 100%;
			}
		}
	}
}
