.person-card {
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	& img {
		border-radius: 10px;
		object-fit: cover;
	}
	&__bottom {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 90px 22px 28px;
		background: image('person-fade.svg') no-repeat 50% / cover;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		min-height: 242px;
		& .title {
			margin-bottom: 12px;
			color: $white;
		}
		& p {
			@include font(1.6rem, calc(24 / 16));
			color: $white;
		}
	}
	&_small {
		border-radius: 10px;
		overflow: hidden;
		& img {
			object-fit: cover;
		}
		& p {
			font-weight: 600;
			z-index: 2;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 95px 24px 28px;
			@include font(2.4rem, calc(28 / 24));
			color: $white;
			background: image('activity-fade.svg') no-repeat 50% / cover;
		}
	}
}

@media screen and (max-width: 991px) {
	.person-card {
		&_small {
			& p {
				padding: 76px 20px 24px;
				@include font(2rem, calc(22 / 20));
				letter-spacing: 0.03em;
				font-weight: 600;
			}
		}
	}
}
