.students {
	&-wrapper {
		padding: 70px 0 92px;
	}
	&-title {
		max-width: 290px;
		margin-bottom: 32px;
	}
	&-videos {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}
}

@media screen and (max-width: 991px) {
	.students {
		&-wrapper {
			padding: 42px 0 60px;
		}
		&-title {
			margin-bottom: 28px;
			max-width: 200px;
		}
		&-videos {
			grid-template-columns: 100%;
			grid-gap: 30px;
			& p {
				@include font(1.2rem, calc(16 / 12));
			}
		}
	}
}
