.swiper {
	& .swiper-pagination {
		@include flex(row, center, center);
		gap: 10px;
		&-bullet {
			margin: 0 !important;
			width: 16px;
			background: $gray-100;
			height: 3px;
			border-radius: 100px;
			&-active {
				background: $red-300;
				height: 5px;
				width: 20px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.swiper {
		& .swiper-pagination {
			gap: 6px;
			&-bullet {
				height: 2px;
				width: 14px;
				background: $gray-100;
				&-active {
					height: 4px;
					width: 16px;
					background: rgba($red-300, 0.7);
				}
			}
		}
	}
}
