.teacher {
	&-wrapper {
		display: grid;
		grid-template-columns: 5.1fr 6.5fr;
		grid-gap: 40px;
		padding-bottom: 85px;
	}
	&-image {
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
		}
	}
	&-title {
		margin-bottom: 12px;
		&_about {
			margin-bottom: 16px;
		}
	}
	&-subtitle {
		& p {
			@include font(2rem, calc(28 / 20));
			font-weight: 600;
		}
	}
	&-info {
		border-radius: 10px;
		background: $light-100;
		padding: 52px 40px 40px;
		&-wrapper {
			grid-row: span 2;
		}
		&-block {
			padding: 38px 0;
			position: relative;
			border-bottom: 1.5px solid $red-100;
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
		}
		&__text {
			margin-bottom: 32px;
			& p {
				@include font(1.6rem, calc(24 / 16));
				margin-bottom: 24px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	&-qualities {
		margin-bottom: 26px;
		&:last-child {
			margin-bottom: 0;
		}
		& h4 {
			@include font(1.8rem, calc(24 / 18));
			font-weight: 600;
			margin: 0;
			color: $black-100;
		}
		& p {
			@include font(1.6rem, calc(24 / 16));
		}
	}
	&-video {
		border-radius: 10px;
		overflow: hidden;
		& video {
			max-width: 510px;
		}
	}
}
