.teachers {
	&-wrapper {
		padding: 90px 0 105px;
	}
	&-top {
		@include flex(row, center, space-between);
		margin-bottom: 30px;
	}
	&-bottom {
		display: none;
	}
	&-swiper {
		padding-bottom: 20px;
		& .swiper-pagination {
			bottom: 0;
			&-bullet {
				background: #a7a7a7;
				&-active {
					background: $red-200;
				}
			}
		}
		&-wrapper {
			& .swiper-navigation {
				position: absolute;
				top: 50%;
				width: 48px;
				height: 48px;
				background: $light-200;
				border-radius: 50%;
				display: grid;
				place-items: center;
				z-index: 2;
				&:hover {
					opacity: 0.8;
				}
				&-prev {
					transform: translateY(-50%) translateX(-50%);
					left: 0;
				}
				&-next {
					transform: translateY(-50%) translateX(50%);
					right: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.teachers {
		&-wrapper {
			padding: 50px 0;
		}
		&-top {
			margin-bottom: 16px;
			& .link-arrow {
				display: none;
			}
		}
		&-swiper {
			padding: 0;
			& .swiper-slide {
				width: auto;
			}
			&-wrapper {
				margin-right: calc((100vw - 100%) / -2);
				& .swiper-navigation {
					display: none;
				}
				& .swiper-pagination {
					display: none;
				}
			}
		}
		&-bottom {
			display: block;
			margin-top: 16px;
		}
	}
}
