.teacher {
	&-swiper {
		display: none;
	}
	&-wrapper {
		display: grid;
		grid-template-columns: 5.1fr 6.5fr;
		grid-gap: 40px;
		padding-bottom: 85px;
	}
	&-image {
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
		}
	}
	&-title {
		margin-bottom: 12px;
		&_about {
			margin-bottom: 16px;
		}
	}
	&-subtitle {
		& p {
			@include font(2rem, calc(28 / 20));
			font-weight: 600;
		}
	}
	&-info {
		border-radius: 10px;
		background: $light-100;
		padding: 52px 40px 40px;
		&-wrapper {
			grid-row: span 2;
		}
		&-block {
			padding: 38px 0;
			position: relative;
			border-bottom: 1.5px solid $red-100;
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
		}
		&__text {
			margin-bottom: 32px;
			& p {
				@include font(1.6rem, calc(24 / 16));
				margin-bottom: 24px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	&-qualities {
		margin-bottom: 26px;
		&:last-child {
			margin-bottom: 0;
		}
		& h4 {
			@include font(1.8rem, calc(24 / 18));
			font-weight: 600;
			margin: 0;
			color: $black-100;
		}
		& p {
			@include font(1.6rem, calc(24 / 16));
		}
	}
	&-video {
		position: relative;
		& img {
			border-radius: 10px;
			overflow: hidden;
			max-width: 100%;
		}
		&-modal {
			& video {
				width: 100%;
				height: auto;
			}
		}
		&__btn {
			color: $white;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			@include flex(row, center);
			gap: 16px;
			padding: 1em 2em;
		}
	}
}

@media screen and (max-width: 1280px) {
	.teacher {
		&-info {
			&-wrapper {
				flex-shrink: 0;
			}
		}
		&-wrapper {
			grid-template-columns: calc(45% - 20px) calc(55% - 20px);
		}
	}
}

@media screen and (max-width: 991px) {
	.teacher {
		&-wrapper {
			padding-bottom: 0;
			margin-bottom: 60px;
			grid-template-columns: 100%;
			background: $light-100;
			border-radius: 10px;
			grid-gap: 36px;
			& > .teacher-image,
			& > .teacher-video {
				display: none;
			}
		}
		&-title {
			padding-bottom: 16px;
			border-bottom: 1px solid $red-100;
			margin-bottom: 20px;
			&_about {
				@include font(2.2rem, 1);
			}
		}
		&-subtitle {
			& p {
				@include font(1.4rem, calc(20 / 14));
			}
		}
		&-swiper {
			border-radius: 10px;
			display: block;
			margin: 0 -15px;
			& .swiper-img__wrapper {
				& img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			& .swiper-slide {
				height: auto;
			}
			& .swiper-pagination {
				bottom: 15px;
			}
		}
		&-info {
			padding: 20px 15px 30px;
			&-block {
				padding: 36px 0;
				&:first-child {
					border: 0;
					padding: 0;
					margin-bottom: 25px;
				}
			}
			&__text {
				margin-bottom: 28px;
				& p {
					@include font(1.4rem, calc(20 / 14));
					margin-bottom: 20px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		&-qualities {
			margin-bottom: 22px;
			&:last-child {
				margin-bottom: 0;
			}
			& h4 {
				@include font(1.6rem, calc(20 / 16));
			}
			& p {
				@include font(1.4rem, calc(20 / 14));
			}
		}
	}
}
