.teachers-hero {
	margin-bottom: 68px;
	&-block {
		position: relative;
		border-radius: 10px;
		overflow: hidden;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__bottom {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 50px 44px 49px;
		background: image('teachers-fade.svg') no-repeat 50% / cover;
		& .title {
			@include font(3.8rem, calc(44 / 38));
			letter-spacing: 0.05em;
			color: $white;
			margin-bottom: 16px;
			max-width: 600px;
		}
		& p {
			@include font(1.8rem, calc(27 / 18));
			color: $white;
			max-width: 760px;
		}
	}
}

@media screen and (max-width: 991px) {
	.teachers-hero {
		margin-bottom: 30px;
		&-block {
			& img {
				min-height: 270px;
			}
		}
		&__bottom {
			padding: 45px 25px 20px;
			background: linear-gradient(to top, rgba($black, 0.6), rgba($black, 0));
			& .title {
				@include font(2rem, calc(24 / 20));
				letter-spacing: 0.05em;
				margin-bottom: 8px;
			}
			& p {
				@include font(1.3rem, calc(17 / 13));
			}
		}
	}
}
