.title {
	font-weight: 600;
	color: $black-100;
	margin: 0;
	&_size {
		&-l {
			@include font(3.8rem, calc(44 / 38));
			letter-spacing: 0.03em;
		}
		&-m {
			@include font(3.2rem, calc(38 / 32));
			letter-spacing: 0.03em;
		}
		&-s {
			@include font(2.8rem, calc(32 / 28));
			letter-spacing: 0.03em;
		}
	}
}

@media screen and (max-width: 991px) {
	.title {
		&_size {
			&-l {
				@include font(2.4rem, calc(30 / 24));
			}
		}
	}
}
