.video {
	display: flex;
	border-radius: 10px;
	overflow: hidden;
	&-wrapper {
		align-items: center;
	}
	& img {
		width: 100%;
		height: 100%;
		height: auto;
	}
	& .play-btn {
		display: flex;
		position: absolute;
		z-index: 5;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		border-radius: 50%;
		&:hover {
			opacity: 0.8;
		}
	}
	& p {
		z-index: 2;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 100px 33px 30px;
		@include font(1.8rem, calc(28 / 18));
		color: $white;
		background: linear-gradient(to top, rgba($black, 0.8), rgba($black, 0));
	}
}

@media screen and (max-width: 991px) {
	.video {
		& .play-btn {
			width: 48px;
			height: 48px;
			display: grid;
			place-items: center;
			& svg {
				width: inherit;
				height: inherit;
			}
		}
		& p {
			padding: 36px 16px 20px;
			@include font(1.4rem, calc(20 / 14));
		}
	}
}
