.flex {
	@include flex();
	&-end {
		justify-content: flex-end;
	}
}

.items-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.grid {
	display: grid;
}

.col-2 {
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}

.col-3 {
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
}

.col-4 {
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

@media screen and (max-width: 991px) {
	.col-3 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 767px) {
	.col-3 {
		grid-template-columns: 100%;
		grid-gap: 30px;
	}
	.col-2 {
		grid-template-columns: 100%;
		grid-gap: 30px;
	}
}
