.flex {
	@include flex();
	&-end {
		justify-content: flex-end;
	}
}

.items-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}
