// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Mont', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$font-color: #555;
$black: #000;
$black-100: #222;
$red-100: #ef1a2a;
$red-200: #ff0027;
$red-300: #ff0245;
$light-100: #f4f4f4;
$light-200: #f2f2f2;
$gray-100: #f7f4f4;
$gray-200: #bab6b6;
$gray-300: #888;
$gray-400: #666;
$gray-500: #707070;
