// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Mont', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$font-color: #555555;
$black: #000;
$red-100: #ef1a2a;
$red-200: #ff0027;
$red-300: #ff0245;
$gray-100: #f7f4f4;
